@keyframes bg-shake {
  0% {
    background-position: 0% 60%;
  }
  50% {
    background-position: 100% 40%;
  }
  100% {
    background-position: 0% 60%;
  }
}

.animate-bg-shake {
  animation: bg-shake 10s ease infinite;
  background-size: 250% 250%;
}
